@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*VARIABLES CSS*/
/*Varibles en general*/
/*Colores*/
:root {
  --first-color: #fff;
  --second-color: #BDBDBD; }

/*Fuente y tipografia*/
:root {
  --body-font: 'Lexend Deca';
  --h1-font-size: 2rem; }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 6rem; } }



      
      /*----- BASE -----*/
      *, ::after, ::before {
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      
      body {
        margin: 0;
        font-family: var(--body-font); } 
        
      
        
      
      h1 {
        margin: 0; }
      
      ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      
      a {
        text-decoration: none; }
      
      img {
        max-width: 100%;
        height: auto; }
      
      /*----- LAYOUT -----*/
      .bd-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
            grid-template-columns: 100%;
        max-width: 1200px;
        margin-left: 1rem;
        margin-right: 1rem; }
      
      .l-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: var(--z-tooltip); }
      
      .main-bg {
        height: 100vh; }
        .main-bg__hero-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          -o-object-fit: cover;
             object-fit: cover;
          -o-object-position: center;
             object-position: center; }
      
      /*----- PAGES -----*/
      /*Nav*/
      .nav {
        height: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-weight: bold;
        color: var(--second-color);
        /*Aparecer menu*/ }
        @media screen and (max-width: 768px) {
          .nav__menu {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.9);
            width: 85%;
            height: 85%;
            margin: auto;
            padding: 2rem;
            border: 1px solid var(--first-color);
            z-index: var(--z-fixed);
            -webkit-transition: .5s;
            transition: .5s; } }
        .nav__logo {
          color: var(--second-color); }
          .nav__logo:hover {
            color: var(--first-color); }
        .nav__list {
          text-align: center; }
        .nav__item {
          margin-bottom: 2rem; }
        .nav__link {
          padding: .5rem;
          color: var(--second-color); }
          .nav__link:hover {
            color: var(--first-color); }
        .nav__toggle {
          cursor: pointer;
          font-size: 1.5rem; }
        .nav .show {
          top: 3rem; }
      
      /*Home*/
      .home {
        position: relative;
        height: 100%;
        -ms-flex-line-pack: center;
            align-content: center;
        justify-items: center;
        color: var(--first-color);
        row-gap: 2rem; }
        .home__title {
          font-size: var(--h1-font-size); }
      
      /*----- COMPONENTS -----*/
      .button {
        display: inline-block;
        padding: .5rem 1.5rem;
        background-color: var(--first-color);
        color: #000;
        margin-right: 1rem;
        border-radius: .25rem; }
        .button--ghost {
          background-color: transparent;
          color: var(--first-color);
          border: 1.5px solid var(--first-color); }
          .button--ghost:hover {
            background-color: var(--first-color);
            color: #000; }
      
      /*MEDIA QUERIES*/
      @media screen and (min-width: 768px) {
        .nav__list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .nav__item {
          margin-right: 1.5rem;
          margin-bottom: 0; }
        .nav__toggle {
          display: none; } }
      
      @media screen and (min-width: 1200px) {
        .bd-grid {
          margin-left: auto;
          margin-right: auto; } }
      
      
      
      
          /* Container holding the image and the text */
      .container {
          position: relative;
          text-align: center;
          color: white;
        }
        
        /* Bottom left text */
        .bottom-left {
          position: absolute;
          bottom: 8px;
          left: 16px;
        }
        
        /* Top left text */
        .top-left {
          position: absolute;
          top: 8px;
          left: 16px;
        }
        
        /* Top right text */
        .top-right {
          position: absolute;
          top: 8px;
          right: 16px;
        }
        
        /* Bottom right text */
        .bottom-right {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: rgb(255, 255, 255)
        }
        
        /* Centered text */
        .centered {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: rgb(255, 255, 255)
        }
      
      
        .centeredother {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          color: rgb(0, 0, 0)
        }
      
      
        /* Add a black background color to the top navigation */
      .topnav {
        background-color: #fa7268;
        overflow: hidden;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #f16056;
        color: white;
      }
      
      .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      .button1 {border-radius: 2px;}
      .button2 {border-radius: 4px;}
      .button3 {border-radius: 8px;}
      .button4 {border-radius: 12px;}
      .button5 {border-radius: 50%;}
      
      
      
      
      /* unvisited link */
      a:link {
        position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        color: #ffffff;
        
          
      }
      
      /* visited link */
      a:visited {
        position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        color: #ffffff;        
      }
      
      /* mouse over link */
      a:hover {
        position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        color: #ffffff;
        
      }
      
      /* selected link */
      a:active {
        position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        color: blue;
        
      }
      
      .card{
        height: 500px;
        width: 32%;
        background-color: #22262C; 
        border-radius: 15px;
        padding: 2rem;
        text-align: center;
      }
      
      .card-title{
         font-size: 1.5rem;
         font-weight: lighter;
         margin-bottom: 1rem;
      }
      
      .card-price{
         font-size: 3rem;
         text-align: center;
      }
      
      h2>span{
         font-size: 1rem;
      }
      
      #card-3 .card-price{
         font-size: 2rem;
      } 
      
      #card-1 .card-price{
         margin-bottom: 4rem;
      }
      .card ul{
         text-align: left;
         font-size: 0.9rem;
         font-weight: lighter;
      }
      
      .card ul li:before{
         content:"•";
         margin-right: 0.5rem;
         color:#bc1e4a;
         font-size: 1.5rem;
      }
      
      .card ul li{
         margin-bottom: 0.5rem;
      }
      
      .card-btn{
         margin-top: 1rem;
         width: 100%;
         background-color: transparent;
         border: 1px solid #bc1e4a;
         color:white;
         font-size: 1rem;
         padding: 1rem;
         border-radius: 5px;
      }
      
      #card-1 .card-btn:hover, 
      #card-3 .card-btn:hover, 
      .active .card-btn
      {
         background-color: #bc1e4a;
      }
      
      #maus{
       background: transparent;
       color:white;
       border-color: #545c5c;
       margin-top: 1rem;
       width: 100%;
       padding: 1rem 2rem;
       font-size: 1rem;
       border-radius: 5px;
      }
      
      option{
         font-size: 1.2rem;
         background-color: #333;
      }
      
      .note{
         color:#bc1e4a;
         font-size: 0.75rem;
         text-align: left;
         display: block;
         margin-top: 5px;
      }
      
      #card-2 ul{
         margin-top: 3rem;
      }
      
      #card-3 ul{
         margin-top: 7.5rem;
      }
      
      @media (max-width:1112px){
         .cards{
             justify-content: center;
         }
      
         .card{
             width: 40%;
         margin: 2rem;
         }
      }
      
      @media (max-width:848px){
         .card{
             width:50%
         }
      }
      
      @media (max-width:674px){
         .top-banner{
             width: 70%;
         }
         .card{
             width: 70%;
         }
      }
      
      @media (max-width:500px){
         .top-banner{
             width: 90%;
         }
      
      
      
         .card{
             width: 90%;
         }
      }
   
      
      .footer {
        position: bottom;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 500px;
        background-color: #fd4d4d;
        color: white;
        text-align: left;
      }

      .fotterheader {
        padding: 50px;
      }

      .fotterlefttext {
        padding:50px ;
        position:left
      }

      .header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100px;
        background-color: #fd4d4d;
        color: white;
        text-align: right;
      }

      .headerltext {
        text-align: right;
        padding: 100px;
      }